.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    ion-label.display {
        font-size: 24px;
        margin-bottom: 15px;
        padding: 10px;
        background-color: #f4f4f4;
        border-radius: 10px;
        text-align: right;
        width: 100%;
    }

    ion-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        ion-col {
            flex: 1;

            ion-button {
                border-radius: 10px;
                font-size: 24px;
                width: 100%;
                height: 80px;

                &.operation {
                    background-color: #f4f4f4;
                    color: #3498db;
                }

                &.equals {
                    background-color: #3498db;
                    color: #ffffff;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        ion-row {
            ion-col {
                ion-button {
                    font-size: 18px;
                    height: 60px;
                }
            }
        }
    }
}